<template>
  <div :class='classObj'
       @click.prevent.stop='onClicked'
       @mouseover='onMouseEnter'
       @mouseout='onMouseLeave'>
    <div class='knob animate-transform'>
      ▶
    </div>
  </div>
</template>

<script>
export default {
  name: 'sticky-trianlge',

  props: {
    stickTo: {
      type: String,
      default: 'left'
    },
    isCollapsed: {
      type: Boolean,
      default: false
    }
  },

  computed: {

    classObj () {
      return {
        'triangle': true,
        'collapsed': this.isCollapsed,
        'toUp': this.stickTo === 'up',
        'toRight': this.stickTo === 'right',
        'toDown': this.stickTo === 'down',
        'toLeft': this.stickTo === 'left'
      }
    }

  },

  methods: {

    onClicked () {
      this.$emit('update:isCollapsed', !this.isCollapsed)
    },

    onMouseEnter () {
      this.$el.classList.add('mouseover')
    },

    onMouseLeave () {
      this.$el.classList.remove('mouseover')
    }

  }
}
</script>

<style scoped lang='scss'>
@import './../../css/globals.scss';

.triangle {
  display: flex;
  position: absolute;
  cursor: pointer;
  width: $sticky_size;
  min-width: $sticky_size;
  height: $sticky_size;
  min-height: $sticky_size;
  place-items: center;
  color: lightgray;
  transition: color ease-in-out 0.5s;
}
.triangle.mouseover {
  color: black;
}

.knob {
  display: flex;
  margin: auto;
  width: $sticky_knob_size;
  min-width: $sticky_knob_size;
  height: $sticky_knob_size;
  min-height: $sticky_knob_size;
  line-height: $sticky_knob_size;
  font-size: $sticky_knob_size / 2;
  place-content: center;
  font-family: monospace;
}

.triangle.toLeft,
.triangle.toRight {
  top: 50%;
  transform: translate(0, -50%);
}

.triangle.toLeft {
  left: 0;
}
.triangle.toRight {
  right: 0;
}

.triangle.toLeft .knob,
.triangle.toRight.collapsed .knob {
  transform: rotateY(180deg);
}
.triangle.toRight .knob,
.triangle.toLeft.collapsed .knob {
  transform: rotateY(0deg);
}

.triangle.toUp,
.triangle.toDown {
  left: 50%;
  transform: translate(-50%, 0);
}

.triangle.toUp {
  top: 0;
}
.triangle.toDown {
  bottom: 0;
}

.triangle.toUp .knob,
.triangle.toDown.collapsed .knob {
  transform: rotateZ(-90deg);
}
.triangle.toDown .knob,
.triangle.toUp.collapsed .knob {
  transform: rotateZ(90deg);
}
</style>
