<template>
  <div class='entries-list-item border-black-1 border-radius-1'>
    <span class='date-prop'>
      {{ entry.getDate() }}
    </span>
    <span class='value-prop'>
      {{ entry.getValue() }}
    </span>
    <input :value='translate("lblRemove")'
           class='remove-button'
           type='button'
           @click.stop.prevent='onRemoveClicked'/>
  </div>
</template>

<script>
import t from './EntriesList.Item.t'

import ChartEntry from './../../../classes/ChartEntry'

export default {
  name: 'entries-list-item',

  messages: t,

  props: {
    entry: {
      type: ChartEntry,
      required: true
    }
  },

  methods: {
    onRemoveClicked () {
      this.$emit('remove-entry', this.entry)
    }
  }
}
</script>

<style scoped lang='scss'>
.entries-list-item {
  display: flex;
  place-content: center space-between;
  place-items: center;
  margin: 0px 0px 5px 0px;
  padding: 5px;
  flex-shrink: 0;

  .date-prop, .value-prop, .remove-button {
    display: flex;
  }

  .date-prop, .value-prop {
    flex: 1;
    margin: 0px 5px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value-prop {
    font-weight: bold;
  }
}
</style>
