<template>
  <div class='chart-frame-chart-comp border-black-1 border-radius-1'>
    <div class='plot'>
    </div>
  </div>
</template>

<script>
import Graph from './../../../classes/Graph.js'

export default {
  name: 'chart-frame-chart-comp',

  props: {
    inset: {
      type: Object,
      default: () => {
        return {
          x: 40,
          y: 20
        }
      }
    },
    redrawDebounceTimeout: {
      type: Number,
      default: 300
    }
  },

  data () {
    return {
      plot: null,
      redrawTimer: null,
      graph: null
    }
  },

  mounted () {
    this.$nextTick(() => {
      this.plot = document.querySelector('.chart-frame-chart-comp .plot')
      this.draw()
      window.addEventListener('resize', this.redraw)
    })
  },

  computed: {
    entries () {
      return this.$store.getters.entries
    }
  },

  watch: {
    entries () {
      this.redraw()
    }
  },

  methods: {
    redraw () {
      clearTimeout(this.redrawTimer)
      this.redrawTimer = setTimeout(
        this.draw,
        this.redrawDebounceTimeout
      )
    },

    draw () {
      this.graph = this.graph || new Graph(this.plot, this.inset)
      this.graph.draw(this.entries)
    }
  }
}
</script>

<style lang='scss'>
.chart-frame-chart-comp {
  display: flex;
  flex: 1;
  margin: 10px;
  place-content: stretch;

  .plot {
    display: flex;
    flex: 1;

    .line {
      fill: none;
      stroke: black;
      stroke-width: 1.5px;
    }
  }
}
</style>
