<template>
  <div class='chart-frame-comp'>
    <ddc-chart style='flex: 2'></ddc-chart>
    <ddc-datasheet style='flex: 1'></ddc-datasheet>
  </div>
</template>

<script>
import Chart from './Chart.vue'
import Datasheet from './Datasheet.vue'

export default {
  name: 'chart-frame-comp',

  components: {
    'ddc-chart': Chart,
    'ddc-datasheet': Datasheet
  }
}
</script>

<style scoped lang='scss'>
.chart-frame-comp {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    place-content: stretch center;
}
</style>
