<template>
  <div class='chart-frame-datasheet-comp border-black-1 border-radius-1'>
    <h3 v-lang.lblAddEntryTitle/>
    <ddc-add-entry
      @add-entry='onAddEntry'>
    </ddc-add-entry>
    <h5 v-lang.lblValuesList/>
    <ddc-entries-list
      @remove-entry='onRemoveEntry'>
    </ddc-entries-list>
  </div>
</template>

<script>
import t from './Datasheet.t'

import AddEntry from './../../primitive/AddEntry.cmp/AddEntry.vue'
import EntriesList from './../../primitive/EntriesList.cmp/EntriesList.vue'

export default {
  name: 'chart-frame-datasheet-comp',

  messages: t,

  components: {
    'ddc-add-entry': AddEntry,
    'ddc-entries-list': EntriesList
  },

  methods: {
    onAddEntry (entry) {
      this.$store.dispatch('addEntry', entry)
    },

    onRemoveEntry (entry) {
      this.$store.dispatch('removeEntry', entry.id)
    }
  }
}
</script>

<style scoped lang='scss'>
@import './../../../css/globals.scss';

.chart-frame-datasheet-comp {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  padding: 5px 10px;
}
</style>
