<template>
  <div class='add-entry'>
    <input :placeholder='translate("lblInputPlaceholder")'
           type='number'
           autofocus='autofocus'
           @keyup='onKeyUp'/>
  </div>
</template>

<script>
import t from './AddEntry.t'

import ChartEntry from './../../../classes/ChartEntry'

export default {
  name: 'add-entry',

  messages: t,

  methods: {
    onKeyUp (e) {
      if (e.keyCode !== 13) return

      if (Number.isFinite(parseFloat(e.target.value))) {
        this.$emit('add-entry', new ChartEntry({
          value: +e.target.value
        }))
      }
      e.target.value = null
    }
  }
}
</script>

<style scoped lang='scss'>
.add-entry {
  display: flex;
  flex: 1;
  max-height: 40px;
  place-content: center space-between;
  place-items: center;

  input {
    display: flex;
    flex: 1;
  }
}
</style>
