<template>
  <div class='entries-list'>
    <list-item v-for='entry in entries'
               :key='entry.id'
               :entry='entry'
               @remove-entry='onRemoveEntry'>
    </list-item>
    <div v-lang.lblNoData v-if='!entries.length' class='empty font-hint'/>
  </div>
</template>

<script>
import t from './EntriesList.t'

import ListItem from './../EntriesList.Item.cmp/EntriesList.Item.vue'

export default {
  name: 'entries-list',

  messages: t,

  components: {
    'list-item': ListItem
  },

  data () {
    return {
      entries: this.$store.getters.entries
    }
  },

  methods: {
    onRemoveEntry (entry) {
      this.$emit('remove-entry', entry)
    }
  }
}
</script>

<style scoped lang='scss'>
.entries-list {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  flex-flow: column nowrap;
  place-content: center flex-start;

  .empty {
    display: flex;
    flex: 1;
    place-items: center;
    margin: auto;
  }
}
</style>
