@import './globals.scss';

input {
  padding: 4px 6px;
  border-radius: $border-radus-1;
  border: $border-black-1;
}

.font-hint {
  color: lightgray;
  font-size: 14px;
  font-weight: light;
  text-transform: lowercase;
}

.border-black-1 {
  border: $border-black-1;
}

.border-radius-1 {
  border-radius: $border-radus-1;
}