<template>
  <div class='left-pane-comp'>
    hello from left pane
  </div>
</template>

<script>
export default {
  name: 'left-pane-comp'
}
</script>

<style scoped>
.left-pane-comp {
    display: flex;
    margin: auto;
    place-content: center;
}
</style>
