<template>
  <div class='right-pane-comp'>
    hello from right pane
  </div>
</template>

<script>
export default {
  name: 'right-pane-comp'
}
</script>

<style scoped>
.right-pane-comp {
    display: flex;
    margin: auto;
    place-content: center;
}
</style>
