<template>
  <div class='desktop'>
    <div :class='classObj_LeftPane'>
      <ddc-left-pane></ddc-left-pane>
    </div>
    <div class='chart-frame animate-width'>
      <ddc-sticky-t :is-collapsed.sync='isLeftPaneCollapsed' stick-to='left'></ddc-sticky-t>
      <ddc-chart-frame></ddc-chart-frame>
      <ddc-sticky-t :is-collapsed.sync='isRightPaneCollapsed' stick-to='right'></ddc-sticky-t>
    </div>
    <div :class='classObj_RightPane'>
      <ddc-right-pane></ddc-right-pane>
    </div>
  </div>
</template>

<script>
import StickyT from './components/primitive/StickyTriangle.vue'
import LeftPane from './components/page/LeftPane.vue'
import ChartFrame from './components/page/ChartFrame.cmp/ChartFrame.vue'
import RightPane from './components/page/RightPane.vue'

export default {
  name: 'app',

  components: {
    'ddc-sticky-t': StickyT,
    'ddc-left-pane': LeftPane,
    'ddc-chart-frame': ChartFrame,
    'ddc-right-pane': RightPane
  },

  data () {
    return {
      collapsed: {
        left: this.$settings.LeftPaneIsCollpased,
        right: this.$settings.RightPaneIsCollpased
      }
    }
  },

  computed: {

    isLeftPaneCollapsed: {
      get () {
        return this.collapsed.left
      },
      set (value) {
        this.collapsed.left = value
        this.$settings.LeftPaneIsCollpased = value
      }
    },

    isRightPaneCollapsed: {
      get () {
        return this.collapsed.right
      },
      set (value) {
        this.collapsed.right = value
        this.$settings.RightPaneIsCollpased = value
      }
    },

    classObj_LeftPane () {
      return {
        'left-pane': true,
        'animate-margin': true,
        'collapsed': this.isLeftPaneCollapsed
      }
    },

    classObj_RightPane () {
      return {
        'right-pane': true,
        'animate-margin': true,
        'collapsed': this.isRightPaneCollapsed
      }
    }

  }
}
</script>

<style scoped lang='scss'>
@import './css/globals.scss';

.desktop {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;

  .left-pane,
  .right-pane {
    display: flex;
    position: relative;
    width: $pane_width;
    margin: 0px;
    place-content: center;
  }

  .left-pane.collapsed {
    margin-left: -$pane_width;
  }

  .right-pane.collapsed {
    margin-right: -$pane_width;
  }

  .chart-frame {
    display: flex;
    position: relative;
    flex: 1;
  }
}
</style>
